[submodule "External/JNISharp"]
	path = External/JNISharp
	url = https://github.com/Lime-Loader/JNISharp.git
[submodule "External/MonoMod"]
	path = External/MonoMod
	url = https://github.com/Lime-Loader/MonoMod.git
[submodule "External/HarmonyX"]
	path = External/HarmonyX
	url = https://github.com/Lime-Loader/HarmonyX.git
[submodule "External/Cpp2IL"]
	path = External/Cpp2IL
	url = https://github.com/Lime-Loader/Cpp2IL.git
[submodule "External/Il2CppInterop"]
	path = External/Il2CppInterop
	url = https://github.com/Lime-Loader/Il2CppInterop.git
